In [10]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [11]:
df = pd.read_csv('../data/telco_churn.csv')
df_cleaned = df.copy()

df_cleaned.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [12]:
df_cleaned['is_male'] = df_cleaned['gender'].map({'Male': 1, 'Female': 0})
df_cleaned['is_Partner'] = df_cleaned['Partner'].map({'Yes': 1, 'No': 0})
df_cleaned['is_Dependents'] = df_cleaned['Dependents'].map({'Yes': 1, 'No': 0})
df_cleaned['is_PhoneService'] = df_cleaned['PhoneService'].map({'Yes': 1, 'No': 0})
df_cleaned['is_PaperlessBilling'] = df_cleaned['PaperlessBilling'].map({'Yes': 1, 'No': 0})
df_cleaned['is_Churn'] = df_cleaned['Churn'].map({'Yes': 1, 'No': 0})

In [13]:
df_cleaned['TotalCharges'] = pd.to_numeric(
    df_cleaned['TotalCharges'], errors='coerce'
)

df_cleaned['TotalCharges'].fillna(
    df_cleaned['TotalCharges'].median(), inplace=True
)

In [14]:
scaler = StandardScaler()

num_cols = ['tenure', 'MonthlyCharges', 'TotalCharges']
df_cleaned[num_cols] = scaler.fit_transform(df_cleaned[num_cols])

In [15]:
df_cleaned = pd.get_dummies(
    df_cleaned,
    columns=[
        'PaymentMethod',
        'Contract',
        'MultipleLines',
        'InternetService',
        'OnlineSecurity',
        'OnlineBackup',
        'DeviceProtection',
        'TechSupport',
        'StreamingTV',
        'StreamingMovies'
    ],
    drop_first=True
)

In [16]:
df_cleaned = df_cleaned.drop(columns=[
    'customerID',
    'gender',
    'Partner',
    'Dependents',
    'PhoneService',
    'PaperlessBilling',
    'Churn'
])

In [17]:
df_cleaned.select_dtypes(include='object').columns

Index([], dtype='object')

In [18]:
X = df_cleaned.drop(columns=['is_Churn'])
y = df_cleaned['is_Churn']

In [19]:
X.to_csv('../data/X_processed.csv', index=False)
y.to_csv('../data/y_processed.csv', index=False)

print("✅ Processed data saved successfully.")

✅ Processed data saved successfully.